<a href="https://colab.research.google.com/github/Sutapa94/Python-Code-Examples/blob/main/Python_Code_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**1. Prime Number**

In [ ]:
def is_prime(n):
  if n<=1:
    return False
  elif n<=3:
    return True
  elif n%2==0 or n%3==0:
    return False
  i=5
  while i*i<=n:
    if n%i==0 or n%(i+2)==0:
      return False
    i+=6
  return True

n = int(input())
if is_prime(n):
  print(n, "is prime")
else:
  print(n, "is not prime")

39
39 is not prime

##**2. Fibonacci Series**

In [ ]:
n=int(input())
a=0
b=1
print(a)
print(b)
for i in range(n-2):
  c=a+b
  print(c)
  a=b
  b=c

10
0
1
1
2
3
5
8
13
21
34

##**3. Factorial of a number**

In [ ]:
n = int(input())
def fact(n):
  if n<=1:
    return 1
  else:
    return n*fact(n-1)

print(fact(n))

2
2

##**4. Palindrome**

In [ ]:
n= input()
def is_palindrome(n):
  l=n[::-1]
  if n==l:
    return True
  else:
    return False
print(is_palindrome(n))

aabccbaa
True

##**5. Reverse without [::-1] or any special functions**

In [ ]:
n=input()
def rev(n):
  result=""
  for i in n:
    result= i+result
  return result

print(rev(n))

ggttvb
bvttgg

##**6. Even or Odd**

In [ ]:
n=int(input())
if n%2==0:
  print("Even Number")
else:
  print("Odd Number")

79
Odd Number

##**7. Pangram**

In [ ]:
n = input("Enter a string: ")
alphabet=set("abcdefghijklmnopqrstuvwxyz")
def pangram_check(n):
  n=n.lower()
  for char in alphabet:
    if char not in n:
      return False
  return True

print(pangram_check(n))

Enter a string: the quick brown fox jumps over the lazy dog.
True

##**8. Count the number of words in a sentence**

In [5]:
def count_words(n):
  l=n.split()
  return len(l)

n=input("Enter a sentence: ")
print("Total Words in this sentence is",count_words(n))

Enter a sentence: Hi! My name is Sutapa
Total Words in this sentence is 5

##**9. Find the sum of squares of numbers from 1 to N**

In [11]:
def square_number(n):
  total = 0
  for i in range(1,n+1):
    total+=i**2
  return total

n=int(input())
print(f"Sum of squares of number from 1 to {n} is {square_number(n)}")

5
Sum of squares of number from 1 to 5 is 55

##**10. Find the number is Armstrong or not**

In [52]:
def is_armstrong(n):
  k=0
  l=n
  pow=len(str(n))
  while n>0:
    r=n%10
    n=n//10
    k+=r**pow
  if k==l and l>0:
    return "Armstrong"
  else:
    return "Not an Armstrong"


n=int(input())
print(is_armstrong(n))

5
Armstrong

##**11. Find max number in a list without max function**

In [59]:
def max_number(arr,n):
  max=arr[0]
  for i in range(1,n):
    if arr[i]>max:
      max=arr[i]
  return max

arr=list(map(int,input().split()))
n=len(arr)
print(max_number(arr,n))

2 3 4 5 1 98 56 44
98

##**12. Min Number without min function**

In [67]:
def min_number(arr,n):
  min=arr[0]
  for i in range(1,n):
    if arr[i]<min:
      min=arr[i]
  return min
arr=list(map(int,input().split()))
n=len(arr)
print(min_number(arr,n))

2 3 4 5 1 98 56 44
1

##**13. Program to print ASCII Value of a character**

In [69]:
def ascii_value(a):
  return ord(a)
a=input()
print(ascii_value(a))

A
65

##**14. Python Program for array rotation**