<a href="https://colab.research.google.com/github/Sutapa94/Python-Code-Examples/blob/main/Python_Code_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**1. Prime Number**

In [ ]:
def is_prime(n):
  if n<=1:
    return False
  elif n<=3:
    return True
  elif n%2==0 or n%3==0:
    return False
  i=5
  while i*i<=n:
    if n%i==0 or n%(i+2)==0:
      return False
    i+=6
  return True

n = int(input())
if is_prime(n):
  print(n, "is prime")
else:
  print(n, "is not prime")

39
39 is not prime

##**2. Fibonacci Series**

In [ ]:
n=int(input())
a=0
b=1
print(a)
print(b)
for i in range(n-2):
  c=a+b
  print(c)
  a=b
  b=c

10
0
1
1
2
3
5
8
13
21
34

##**3. Factorial of a number**

In [ ]:
n = int(input())
def fact(n):
  if n<=1:
    return 1
  else:
    return n*fact(n-1)

print(fact(n))

2
2

##**4. String Palindrome**

In [ ]:
n= input()
def is_palindrome(n):
  l=n[::-1]
  if n==l:
    return True
  else:
    return False
print(is_palindrome(n))

aabaa
True

##**5. Reverse without [::-1] or any special functions**

In [ ]:
n=input()
def rev(n):
  result=""
  for i in n:
    result= i+result
  return result

print(rev(n))

ggttvb
bvttgg

##**6. Even or Odd**

In [ ]:
n=int(input())
if n%2==0:
  print("Even Number")
else:
  print("Odd Number")

79
Odd Number

##**7. Pangram**

In [ ]:
n = input("Enter a string: ")
alphabet=set("abcdefghijklmnopqrstuvwxyz")
def pangram_check(n):
  n=n.lower()
  for char in alphabet:
    if char not in n:
      return False
  return True

print(pangram_check(n))

Enter a string: the quick brown fox jumps over the lazy dog.
True

##**8. Count the number of words in a sentence**

In [ ]:
def count_words(n):
  l=n.split()
  return len(l)

n=input("Enter a sentence: ")
print("Total Words in this sentence is",count_words(n))

Enter a sentence: Hi! My name is Sutapa
Total Words in this sentence is 5

##**9. Find the sum of squares of numbers from 1 to N**

In [ ]:
def square_number(n):
  total = 0
  for i in range(1,n+1):
    total+=i**2
  return total

n=int(input())
print(f"Sum of squares of number from 1 to {n} is {square_number(n)}")

5
Sum of squares of number from 1 to 5 is 55

##**10. Find the number is Armstrong or not**

In [ ]:
def is_armstrong(n):
  k=0
  l=n
  pow=len(str(n))
  while n>0:
    r=n%10
    n=n//10
    k+=r**pow
  if k==l and l>0:
    return "Armstrong"
  else:
    return "Not an Armstrong"


n=int(input())
print(is_armstrong(n))

5
Armstrong

##**11. Find max number in a list without max function**

In [ ]:
def max_number(arr,n):
  max=arr[0]
  for i in range(1,n):
    if arr[i]>max:
      max=arr[i]
  return max

arr=list(map(int,input().split()))
n=len(arr)
print(max_number(arr,n))

2 3 4 5 1 98 56 44
98

##**12. Min Number without min function**

In [ ]:
def min_number(arr,n):
  min=arr[0]
  for i in range(1,n):
    if arr[i]<min:
      min=arr[i]
  return min
arr=list(map(int,input().split()))
n=len(arr)
print(min_number(arr,n))

2 3 4 5 1 98 56 44
1

##**13. Program to print ASCII Value of a character**

In [ ]:
def ascii_value(a):
  return ord(a)
a=input()
print(ascii_value(a))

A
65

##**14. Number Palindrome**

In [ ]:
n = int(input())
def is_number_palindrome(n):
  original = n
  result=0
  while n>0:
    r=n%10
    n=n//10
    result=result*10 + r
  if original == result:
    return "Palindrome"
  else:
    return "Not Palindrome"

print(is_number_palindrome(n))

11211
Palindrome

##**15. Number is a Perfect Square**

In [31]:
def is_perfect(n):
  if n<0:
    return False
  else:
    sq=int(n**0.5)
    return sq*sq==n

n=int(input())
print(is_perfect(n))

25
True

##**16. Given number is Fibonacci Number or not**

In [27]:
def is_fibo(n):
  return is_perfect(5*n*n + 4) or is_perfect(5*n*n - 4)

n=int(input())
print(is_fibo(n))

13
True

##**17. Binary Search**

In [52]:
def binary_search(a,n):
  l=0
  h=len(a)-1
  m=0
  while l<=h:
    m=(l+h)//2
    if a[m]==n:
      return m
    elif a[m]>n:
      h=m-1
    else:
      l=m+1
  return -1

a=list(map(int,input().split()))
n=int(input())

result= binary_search(a,n)
if result != -1:
  print(f"{n} found at index {result}")
else:
  print(f"{n} is not there in the list")

1 2 3 4 5 6
6
6 found at index 5

##**18. Linear Search**

In [57]:
def linear_search(a,n):
  for i in range(len(a)):
    if n==a[i]:
      return i
  return -1

a=list(map(int,input().split()))
n=int(input())

result=linear_search(a,n)
if result != -1:
  print(f"{n} is found at {result}")
else:
  print(f"{n} is not there in the list")

6754 8736437 8787 123 876
8787
8787 is found at 2

##**19. Bubble Sort**

In [6]:
def bubble_sort(a):
  n=len(a)
  for i in range(n-1):
    for j in range(n-1,0,-1):
      if a[j]<a[j-1]:
        a[j-1],a[j]=a[j],a[j-1]
  return a

a=list(map(int,input().split()))
print(bubble_sort(a))

4 0 89 1 8
[0, 1, 4, 8, 89]

##**20. Insertion Sort**

In [3]:
def insertion_sort(arr):
  n=len(arr)
  for i in range(1,n):
    key=arr[i]
    j=i-1
    while j>=0 and arr[j]>key:
      arr[j+1]=arr[j]
      j=j-1
    arr[j+1]=key
  return arr


arr=list(map(int,input().split()))
result=insertion_sort(arr)
print(result)

4 0 89 1 8
[0, 1, 4, 8, 89]

##**21. Selection Sort**

In [6]:
def selection_sort(arr):
  n=len(arr)
  for i in range(n-1):
    min=i
    for j in range(i+1,n):
      if arr[j]<arr[min]:
        min=j
    arr[i],arr[min]=arr[min],arr[i]
  return arr

arr=list(map(int,input().split()))
result=selection_sort(arr)
print(result)

4 0 89 1 8
[0, 1, 4, 8, 89]

##**22. Merge Sort**

In [9]:
def merge(arr1,arr2):
  n1=len(arr1)
  n2=len(arr2)
  result=[]
  i,j=0,0
  while i<n1 and j<n2:
    if arr1[i]<arr2[j]:
      result.append(arr1[i])
      i+=1
    else:
      result.append(arr2[j])
      j+=1
  if i<n1:
    result+=arr1[i:]
  if j<n2:
    result+=arr2[j:]
  return result

def merge_sort(arr):
  n=len(arr)
  if n<=1:
    return arr
  else:
    left = merge_sort(arr[0:n//2])
    right = merge_sort(arr[n//2:n])
  return merge(left,right)

arr=list(map(int,input().split()))
res=merge_sort(arr)
print(res)

1 89 09 34 0 9 07
[0, 1, 7, 9, 9, 34, 89]